body {
	background-color: #c5f0a4;
	margin: 0px 0px;
	color: #226b80;
	font-size: 18px;
	font-family: 'Arimo', sans-serif;
}

h1 {
	padding: 10px 5px;
	color: #35b0ab;
	font-size:40px;
	font-weight: lighter;
	font-family: 'Merriweather', serif;

}

h2 {
	color: #226b80;
	font-size: 18px;
	font-family: 'Arimo', sans-serif;
}

a { 
color: #f34573;
text-decoration: none;
 }

 a:hover {
 	color: #35b0ab;
 }

 .card {
 	padding: 5px;
 	text-align: center;
 	box-shadow: 2px 2px 2px rgba(40, 40, 40, 0.5);
 	margin: 10px;
 	background-color: #a1dd70;
 	height: 300px;
 	width: 300px;
 	margin: 10px;
 }

.card h2 {
	text-align: center;
	font-family: 'Arimo', sans-serif;
	color: #f34573;
	font-weight: 800;
	font-size: 30px;
}

img {
	height: 100px;
	width: 100px;
	margin: 10px;
	align-self: center;
}

.fab {
	color: #226b80;
	font-size: 30px;
}

#banner {
		text-align: center;
		width: 100vw;
}

#footer {
		padding: 30px;
		text-align: center;
		width: 100vw;
}